h1 {
    color: var(--primary);
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

form {
    .form-group {
        margin-bottom: 1rem;

        label {
            display: block;
            margin-bottom: .75rem;
            color: var(--black);
            font-size: 1rem;
            font-weight: 400;
        }

        input, textarea {
            display: block;
            border: 1px solid var(--gray);
            border-radius: 8px;
            padding: .3rem .75rem;
            color: var(--black);
            font-size: 1rem;
            font-weight: 300;

            &:focus, &:focus-visible {
                outline: none;
                box-shadow: none;
                border-color: var(--primary);
            }

            &.error {
                border: 1px solid var(--danger);
            }
        }

        .error {
            font-size: .875rem;
            color: var(--danger);
            font-weight: 400;
            margin-top: .5rem;
        }
    }

    button {
        display: inline-block;
        padding: .5rem 1.125rem;
        border-radius: 8px;
        border: 1px solid var(--primary);
        font-size: 1rem;
        color: var(--white);
        font-weight: 600;
        background-color: var(--primary);
        margin: 0 auto;
        cursor: pointer;
    }
}