.recipe {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 12px;
    border: 1px solid var(--primary);
    border-radius: 8px;
    margin-bottom: 16px;
    
    img {
        display: block;
        margin: -12px -12px 0px -12px;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        max-height: 250px;
    }

    h1 {
        font-size: 1.25rem;
        margin-bottom: 0;
        font-weight: 600;
        color: var(--primary);
        vertical-align: middle;

        .favorite {
            color: gold;
            font-size: 1rem;
            margin-left: 4px;
        }
    }

    p, li {
        font-size: 1rem;
        margin-bottom: 0;
        font-weight: 300;
    }

    .form-control {
        padding: 8px 6px;
        border: 1px solid var(--primary);
        border-radius: 8px;
        font-size: 1rem;
        font-weight: 300;

        &:focus, &:focus-visible {
            outline: none;
            box-shadow: none;
            border-color: var(--success);
        }
    }

    ul {
        margin-top: 0;
        margin-bottom: 0;
    }

    .controls-container {
        display: flex;
        flex-wrap: nowrap;
        width: 200px;

        button {
            padding: 8px 12px;
            border-radius: 8px;
            border: 1px solid var(--primary);
            background-color: var(--gray);
            font-size: 1rem;
            color: var(--primary);
            font-weight: 600;

            &:first-child {
                border-radius: 8px 0px 0px 8px;
                border-right: none;
            }

            &:last-child {
                border-radius: 0px 8px 8px 0px;
            }
        }
    }
}