/* You can add global styles to this file, and also import other style files */
:root {
    --primary: #139dcf;
    --secondary: #26c8c0;
    --danger: #d21010;
    --success: #13ae08;
    --gray: #eaf2f2;
    --white: #FFFFFF;
    --text-color: #343434;
}

* {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding: .5rem;
}